{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	encode zstd gzip

	handle /api/* {
		reverse_proxy backend:8001
	}

	handle {
		reverse_proxy frontend:80
	}

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}

	log {
		output file /data/access.log {
			roll_size 20mb
			roll_keep 5
		}
	}
}
